In [77]:
# Loading Libraries
import pandas as pd
from rdflib import Graph, Literal, RDF, URIRef, Namespace
from rdflib.namespace import XSD

## Load CSV Files

In [2]:
data_1 = pd.read_csv("car_data_1.csv")
data_1.head()

,Unnamed: 0,car_brand,car_model,car_price,car_city,car_fuel,car_transmission,car_drive,car_mileage,car_country,car_engine_capacity,car_engine_hp,car_age
0,0,Ford,Focus,550000,Astrakhan,gasoline,manual,FWD,300000,USA,1.8,125,14
1,1,Mercedes-Benz,GLA-Class,1820000,Astrakhan,gasoline,robot,FWD,88000,DE,1.6,156,10
2,2,Haval,F7,2600000,Astrakhan,gasoline,robot,4WD,19000,CN,1.5,150,2
3,3,Toyota,Camry,4200000,Astrakhan,gasoline,automatic,FWD,30000,JP,3.5,249,2
4,4,OMODA,C5,2125000,Astrakhan,gasoline,CVT,FWD,18824,CN,1.5,147,2

In [3]:
data_2 = pd.read_csv("car_data_2.csv")
data_2.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Data Processing

### Standardizing Column Names

In [4]:
rename_columns_1 = {

    'car_brand': 'Brand',

    'car_model': 'Model',

    'car_price': 'Price',

    'car_city': 'City',

    'car_fuel': 'Fuel Type',

    'car_transmission': 'Transmission',

    'car_drive': 'Drive',

    'car_mileage': 'Mileage',

    'car_country': 'Country',

    'car_engine_capacity': 'Engine Capacity',

    'car_engine_hp': 'Engine HP',

    'car_age': 'Age'

}

In [5]:
rename_columns_2 = {

    'Make': 'Brand',

    'Model': 'Model',

    'Year': 'Year',

    'Engine Fuel Type': 'Fuel Type',

    'Engine HP': 'Engine HP',

    'Engine Cylinders': 'Engine Cylinders',

    'Transmission Type': 'Transmission',

    'Driven_Wheels': 'Driven Wheels',

    'Number of Doors': 'Number of Doors',

    'Market Category': 'Market Category',

    'Vehicle Size': 'Vehicle Size',

    'Vehicle Style': 'Vehicle Style',

    'highway MPG': 'Highway MPG',

    'city mpg': 'City MPG',

    'Popularity': 'Popularity',

    'MSRP': 'Price'

}

In [6]:
# Apply renaming

data_1.rename(columns=rename_columns_1, inplace=True)

data_2.rename(columns=rename_columns_2, inplace=True)

### Handling Missing Data

In [7]:
# Handling Missing Data: We'll fill numerical missing values with the mean and categorical with the mode

data_2['Engine HP'].fillna(data_2['Engine HP'].mean(), inplace=True)

data_2['Engine Cylinders'].fillna(data_2['Engine Cylinders'].mean(), inplace=True)

data_2['Number of Doors'].fillna(data_2['Number of Doors'].mode()[0], inplace=True)

C:\Users\faisa\AppData\Local\Temp\ipykernel_18456\3247855519.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['Engine HP'].fillna(data_2['Engine HP'].mean(), inplace=True)
C:\Users\faisa\AppData\Local\Temp\ipykernel_18456\3247855519.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['Engine Cylinders'].fillna(data_2['Engine Cylinders'].mean(), inplace=True)
C:\Users\faisa\AppData\Local\Temp\ipykernel_18456\3247855519.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2['Number of Doors'].fillna(data_2['Number of Doors'].mode()[0], inplace=True)

### Data Type Conversions

In [8]:
# Data type conversions: Ensuring data types are appropriate

data_2['Engine Cylinders'] = data_2['Engine Cylinders'].astype(int)

data_2['Number of Doors'] = data_2['Number of Doors'].astype(int)

### Data Cleaning

In [9]:
# Data Cleaning: Removing unnecessary columns and standardizing entries

# Remove 'Unnamed: 0' from data_1

data_1.drop(columns=['Unnamed: 0'], inplace=True)

### Display The Cleaned Data

In [10]:
data_1.head()

,Brand,Model,Price,City,Fuel Type,Transmission,Drive,Mileage,Country,Engine Capacity,Engine HP,Age
0,Ford,Focus,550000,Astrakhan,gasoline,manual,FWD,300000,USA,1.8,125,14
1,Mercedes-Benz,GLA-Class,1820000,Astrakhan,gasoline,robot,FWD,88000,DE,1.6,156,10
2,Haval,F7,2600000,Astrakhan,gasoline,robot,4WD,19000,CN,1.5,150,2
3,Toyota,Camry,4200000,Astrakhan,gasoline,automatic,FWD,30000,JP,3.5,249,2
4,OMODA,C5,2125000,Astrakhan,gasoline,CVT,FWD,18824,CN,1.5,147,2

In [11]:
data_2.head()

,Brand,Model,Year,Fuel Type,Engine HP,Engine Cylinders,Transmission,Driven Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,Highway MPG,City MPG,Popularity,Price
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6,MANUAL,rear wheel drive,2,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6,MANUAL,rear wheel drive,2,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6,MANUAL,rear wheel drive,2,Luxury,Compact,Convertible,28,18,3916,34500

## Code to Convert data_1 to RDF

In [12]:
# Create an RDF graph
g1 = Graph()
ns = Namespace("http://example.org/vehicle/")
Vehicle = ns.Vehicle

In [13]:
# Define custom properties
brand = ns.brand
model = ns.model
price = ns.price
fuelType = ns.fuelType
transmission = ns.transmission
drive = ns.drive
engineHP = ns.engineHP
age = ns.age

In [14]:
# Add data to the RDF graph
for index, row in data_1.iterrows():
    vehicle_uri = URIRef(ns[f"Vehicle_1_{index}"])
    g1.add((vehicle_uri, RDF.type, Vehicle))
    g1.add((vehicle_uri, brand, Literal(row['Brand'], datatype=XSD.string)))
    g1.add((vehicle_uri, model, Literal(row['Model'].strip(), datatype=XSD.string)))
    g1.add((vehicle_uri, price, Literal(row['Price'], datatype=XSD.integer)))
    g1.add((vehicle_uri, fuelType, Literal(row['Fuel Type'], datatype=XSD.string)))
    g1.add((vehicle_uri, transmission, Literal(row['Transmission'], datatype=XSD.string)))
    g1.add((vehicle_uri, drive, Literal(row['Drive'], datatype=XSD.string)))
    g1.add((vehicle_uri, engineHP, Literal(row['Engine HP'], datatype=XSD.integer)))
    g1.add((vehicle_uri, age, Literal(row['Age'], datatype=XSD.integer)))

In [15]:
# Save the graph to a file
rdf_file_path_1 = "data_1.ttl"
g1.serialize(destination=rdf_file_path_1, format="turtle")

## Code to Convert data_2 to RDF

In [16]:
# Create an RDF graph
g2 = Graph()
ns = Namespace("http://example.org/vehicle/")
Vehicle = ns.Vehicle

In [17]:
# Define custom properties
brand = ns.brand
model = ns.model
price = ns.price
fuelType = ns.fuelType
transmission = ns.transmission
drive = ns.drive
engineHP = ns.engineHP
year = ns.year
engineCylinders = ns.engineCylinders
numberOfDoors = ns.numberOfDoors
marketCategory = ns.marketCategory
vehicleSize = ns.vehicleSize
vehicleStyle = ns.vehicleStyle
highwayMPG = ns.highwayMPG
cityMPG = ns.cityMPG
popularity = ns.popularity

In [18]:
# Add data to the RDF graph
for index, row in data_2.iterrows():
    vehicle_uri = URIRef(ns[f"Vehicle_2_{index}"])
    g2.add((vehicle_uri, RDF.type, Vehicle))
    g2.add((vehicle_uri, brand, Literal(row['Brand'], datatype=XSD.string)))
    g2.add((vehicle_uri, model, Literal(row['Model'].strip(), datatype=XSD.string)))
    g2.add((vehicle_uri, year, Literal(row['Year'], datatype=XSD.integer)))
    g2.add((vehicle_uri, fuelType, Literal(row['Fuel Type'], datatype=XSD.string)))
    g2.add((vehicle_uri, engineHP, Literal(row['Engine HP'], datatype=XSD.float)))
    g2.add((vehicle_uri, engineCylinders, Literal(row['Engine Cylinders'], datatype=XSD.integer)))
    g2.add((vehicle_uri, transmission, Literal(row['Transmission'], datatype=XSD.string)))
    g2.add((vehicle_uri, drive, Literal(row['Driven Wheels'], datatype=XSD.string)))
    g2.add((vehicle_uri, numberOfDoors, Literal(row['Number of Doors'], datatype=XSD.integer)))
    g2.add((vehicle_uri, marketCategory, Literal(row['Market Category'], datatype=XSD.string) if pd.notna(row['Market Category']) else Literal("N/A")))
    g2.add((vehicle_uri, vehicleSize, Literal(row['Vehicle Size'], datatype=XSD.string)))
    g2.add((vehicle_uri, vehicleStyle, Literal(row['Vehicle Style'], datatype=XSD.string)))
    g2.add((vehicle_uri, highwayMPG, Literal(row['Highway MPG'], datatype=XSD.integer)))
    g2.add((vehicle_uri, cityMPG, Literal(row['City MPG'], datatype=XSD.integer)))
    g2.add((vehicle_uri, popularity, Literal(row['Popularity'], datatype=XSD.integer)))
    g2.add((vehicle_uri, price, Literal(row['Price'], datatype=XSD.integer)))

In [19]:
# Save the graph to a file
rdf_file_path_2 = "data_2.ttl"
g2.serialize(destination=rdf_file_path_2, format="turtle")

### Graph Setup and Merging the Graphs with Fatcs & Schema

In [21]:
# Initialize RDFLib Graphs
ontology_graph = Graph()
data_graph_1 = Graph()
data_graph_2 = Graph()

# Load ontology - update path and format as needed
ontology_graph.parse("Vehicle Ontology Schema Overview.rdf", format='xml')

# Load your data from Turtle files
data_graph_1.parse("data_1.ttl", format='turtle')
data_graph_2.parse("data_2.ttl", format='turtle')

# Merge the graphs
merged_graph = ontology_graph + data_graph_1 + data_graph_2

# Serialize the merged graph to a Turtle file
merged_graph.serialize("merged_ontology_with_data.ttl", format="turtle")

print("Merged RDF graph created and saved.")

Merged RDF graph created and saved.

### SPARQL

In [70]:
g = Graph()

# Load your merged RDF graph
g.parse("merged_ontology_with_data.ttl", format="turtle")

In [36]:
query_corrected_vehicles_brands = """
PREFIX ex: <http://example.org/vehicle/>
SELECT ?vehicle ?brand
WHERE {
    ?vehicle a ex:Vehicle ;
             ex:brand ?brand .
}
LIMIT 10
"""

# Assuming 'g' is your RDFLib graph instance
for row in g.query(query_corrected_vehicles_brands):
    print(f"Vehicle: {row.vehicle}, Brand: {row.brand}")

Vehicle: http://example.org/vehicle/Vehicle_1_0, Brand: Ford
Vehicle: http://example.org/vehicle/Vehicle_1_1, Brand: Mercedes-Benz
Vehicle: http://example.org/vehicle/Vehicle_1_10, Brand: Hyundai
Vehicle: http://example.org/vehicle/Vehicle_1_100, Brand: Toyota
Vehicle: http://example.org/vehicle/Vehicle_1_1000, Brand: ZAZ
Vehicle: http://example.org/vehicle/Vehicle_1_10000, Brand: Volvo
Vehicle: http://example.org/vehicle/Vehicle_1_10001, Brand: Toyota
Vehicle: http://example.org/vehicle/Vehicle_1_10002, Brand: Toyota
Vehicle: http://example.org/vehicle/Vehicle_1_10003, Brand: Nissan
Vehicle: http://example.org/vehicle/Vehicle_1_10004, Brand: Lada

In [41]:
query_models_prices = """
PREFIX ex: <http://example.org/vehicle/>
SELECT ?model ?price
WHERE {
    ?vehicle ex:model ?model ;
             ex:price ?price .
}
LIMIT 10
"""

for row in g.query(query_models_prices):
    print(f"Model: {row.model}, Price: {row.price}")

Model: Focus, Price: 550000
Model: Focus, Price: 1350000
Model: Focus, Price: 675000
Model: Focus, Price: 1150000
Model: Focus, Price: 830000
Model: Focus, Price: 1481900
Model: Focus, Price: 580000
Model: Focus, Price: 1299000
Model: Focus, Price: 933900
Model: Focus, Price: 670000

In [43]:
query_vehicle_hp = """
PREFIX ex: <http://example.org/vehicle/>
SELECT ?model ?hp
WHERE {
    ?vehicle ex:model ?model ;
             ex:engineHP ?hp .
}
LIMIT 10
"""

for row in g.query(query_vehicle_hp):
    print(f"Model: {row.model}, Horsepower: {row.hp}")

Model: Focus, Horsepower: 125
Model: Camry, Horsepower: 125
Model: Expert, Horsepower: 125
Model: Camry, Horsepower: 125
Model: Allion, Horsepower: 125
Model: Camry, Horsepower: 125
Model: Allion, Horsepower: 125
Model: Corona Exiv, Horsepower: 125
Model: RAV4, Horsepower: 125
Model: Allion, Horsepower: 125

In [51]:
query_sorted_by_price = """
PREFIX ex: <http://example.org/vehicle/>
SELECT ?vehicle ?price
WHERE {
    ?vehicle ex:price ?price .
}
ORDER BY ?price
LIMIT 10
"""

for row in g.query(query_sorted_by_price):
    print(f"Vehicle: {row.vehicle}, Price: {row.price}")

Vehicle: http://example.org/vehicle/Vehicle_2_10000, Price: 2000
Vehicle: http://example.org/vehicle/Vehicle_2_1002, Price: 2000
Vehicle: http://example.org/vehicle/Vehicle_2_1003, Price: 2000
Vehicle: http://example.org/vehicle/Vehicle_2_1004, Price: 2000
Vehicle: http://example.org/vehicle/Vehicle_2_1005, Price: 2000
Vehicle: http://example.org/vehicle/Vehicle_2_10058, Price: 2000
Vehicle: http://example.org/vehicle/Vehicle_2_10059, Price: 2000
Vehicle: http://example.org/vehicle/Vehicle_2_1006, Price: 2000
Vehicle: http://example.org/vehicle/Vehicle_2_10060, Price: 2000
Vehicle: http://example.org/vehicle/Vehicle_2_10061, Price: 2000

In [55]:
query_vehicle_years_range = """
PREFIX ex: <http://example.org/vehicle/>
SELECT ?vehicle
WHERE {
    ?vehicle ex:year ?year .
    FILTER(?year >= 2005 && ?year <= 2010)
}
LIMIT 5
"""

for row in g.query(query_vehicle_years_range):
    print(f"Vehicle made between 2005 and 2010: {row.vehicle}")

Vehicle made between 2005 and 2010: http://example.org/vehicle/Vehicle_2_10014
Vehicle made between 2005 and 2010: http://example.org/vehicle/Vehicle_2_10015
Vehicle made between 2005 and 2010: http://example.org/vehicle/Vehicle_2_10016
Vehicle made between 2005 and 2010: http://example.org/vehicle/Vehicle_2_10017
Vehicle made between 2005 and 2010: http://example.org/vehicle/Vehicle_2_10018

In [58]:
query_average_price_by_brand = """
PREFIX ex: <http://example.org/vehicle/>
SELECT ?brand (AVG(?price) AS ?avgPrice)
WHERE {
    ?vehicle ex:brand ?brand ;
             ex:price ?price .
}
GROUP BY ?brand
LIMIT 10
"""

for row in g.query(query_average_price_by_brand):
    print(f"Brand: {row.brand}, Average Price: {row.avgPrice}")

Brand: Ford, Average Price: 508752.3299191374663072776280
Brand: Mercedes-Benz, Average Price: 3025445.372784810126582278481
Brand: Hyundai, Average Price: 1452328.402912621359223300971
Brand: Toyota, Average Price: 1610949.382453811262307777409
Brand: ZAZ, Average Price: 217034.6279069767441860465116
Brand: Volvo, Average Price: 876537.8277404921700223713647
Brand: Nissan, Average Price: 1039486.135853190906600931252
Brand: Lada, Average Price: 608274.9062420382165605095541
Brand: Subaru, Average Price: 1026451.824667472793228536880
Brand: Chevrolet, Average Price: 413271.3448275862068965517241

In [60]:
query_optional_equipment = """
PREFIX ex: <http://example.org/vehicle/>
SELECT ?vehicle ?equipment ?price
WHERE {
    ?vehicle ex:price ?price .
    OPTIONAL { ?vehicle ex:hasEquipment ?equipment . }
}
LIMIT 5
"""

for row in g.query(query_optional_equipment):
    print(f"Vehicle: {row.vehicle}, Equipment: {row.equipment if row.equipment else 'No equipment'}, Price: {row.price}")

Vehicle: http://example.org/vehicle/Vehicle_1_0, Equipment: No equipment, Price: 550000
Vehicle: http://example.org/vehicle/Vehicle_1_10000, Equipment: No equipment, Price: 550000
Vehicle: http://example.org/vehicle/Vehicle_1_10009, Equipment: No equipment, Price: 550000
Vehicle: http://example.org/vehicle/Vehicle_1_10083, Equipment: No equipment, Price: 550000
Vehicle: http://example.org/vehicle/Vehicle_1_10234, Equipment: No equipment, Price: 550000

In [64]:
query_nested_optional = """
PREFIX ex: <http://example.org/vehicle/>
SELECT ?vehicle ?warrantyPeriod ?lastServiceDate
WHERE {
    ?vehicle ex:model ?model .
    OPTIONAL {
        ?vehicle ex:warrantyPeriod ?warrantyPeriod .
        OPTIONAL { ?vehicle ex:lastServiceDate ?lastServiceDate . }
    }
}
LIMIT 5
"""

for row in g.query(query_nested_optional):
    print(f"Vehicle: {row.vehicle}, Warranty Period: {row.warrantyPeriod if row.warrantyPeriod else 'No warranty info'}, Last Service Date: {row.lastServiceDate if row.lastServiceDate else 'No service info'}")

Vehicle: http://example.org/vehicle/Vehicle_1_0, Warranty Period: No warranty info, Last Service Date: No service info
Vehicle: http://example.org/vehicle/Vehicle_1_10370, Warranty Period: No warranty info, Last Service Date: No service info
Vehicle: http://example.org/vehicle/Vehicle_1_10445, Warranty Period: No warranty info, Last Service Date: No service info
Vehicle: http://example.org/vehicle/Vehicle_1_10470, Warranty Period: No warranty info, Last Service Date: No service info
Vehicle: http://example.org/vehicle/Vehicle_1_10521, Warranty Period: No warranty info, Last Service Date: No service info

In [66]:
query_basic_info = """
PREFIX ex: <http://example.org/vehicle/>
SELECT ?vehicle ?brand ?model ?year ?price
WHERE {
    ?vehicle ex:brand ?brand ;
             ex:model ?model ;
             ex:year ?year ;
             ex:price ?price .
}
LIMIT 10
"""

for row in g.query(query_basic_info):
    print(f"Vehicle: {row.vehicle}, Brand: {row.brand}, Model: {row.model}, Year: {row.year}, Price: {row.price}")

Vehicle: http://example.org/vehicle/Vehicle_2_10272, Brand: Ford, Model: Taurus X, Year: 2008, Price: 31620
Vehicle: http://example.org/vehicle/Vehicle_2_10273, Brand: Ford, Model: Taurus X, Year: 2008, Price: 28880
Vehicle: http://example.org/vehicle/Vehicle_2_10274, Brand: Ford, Model: Taurus X, Year: 2008, Price: 29770
Vehicle: http://example.org/vehicle/Vehicle_2_10275, Brand: Ford, Model: Taurus X, Year: 2008, Price: 27030
Vehicle: http://example.org/vehicle/Vehicle_2_10276, Brand: Ford, Model: Taurus X, Year: 2008, Price: 32600
Vehicle: http://example.org/vehicle/Vehicle_2_10277, Brand: Ford, Model: Taurus X, Year: 2008, Price: 30750
Vehicle: http://example.org/vehicle/Vehicle_2_10278, Brand: Ford, Model: Taurus X, Year: 2009, Price: 32325
Vehicle: http://example.org/vehicle/Vehicle_2_10279, Brand: Ford, Model: Taurus X, Year: 2009, Price: 33180
Vehicle: http://example.org/vehicle/Vehicle_2_10280, Brand: Ford, Model: Taurus X, Year: 2009, Price: 34175
Vehicle: http://example.org/vehicle/Vehicle_2_10281, Brand: Ford, Model: Taurus X, Year: 2009, Price: 31330

In [67]:
query_check_year_price = """
PREFIX ex: <http://example.org/vehicle/>
SELECT ?vehicle ?brand ?model ?year ?price
WHERE {
    ?vehicle ex:brand ?brand ;
             ex:model ?model ;
             ex:year ?year ;
             ex:price ?price .
    FILTER(?year > 2015 && ?price > 50000)
}
LIMIT 10
"""

for row in g.query(query_check_year_price):
    print(f"Vehicle: {row.vehicle}, Brand: {row.brand}, Model: {row.model}, Year: {row.year}, Price: {row.price}")

Vehicle: http://example.org/vehicle/Vehicle_2_4310, Brand: Ford, Model: Expedition, Year: 2016, Price: 58185
Vehicle: http://example.org/vehicle/Vehicle_2_4311, Brand: Ford, Model: Expedition, Year: 2016, Price: 62025
Vehicle: http://example.org/vehicle/Vehicle_2_4312, Brand: Ford, Model: Expedition, Year: 2016, Price: 62985
Vehicle: http://example.org/vehicle/Vehicle_2_4313, Brand: Ford, Model: Expedition, Year: 2016, Price: 59375
Vehicle: http://example.org/vehicle/Vehicle_2_4314, Brand: Ford, Model: Expedition, Year: 2016, Price: 66025
Vehicle: http://example.org/vehicle/Vehicle_2_4315, Brand: Ford, Model: Expedition, Year: 2016, Price: 57795
Vehicle: http://example.org/vehicle/Vehicle_2_4316, Brand: Ford, Model: Expedition, Year: 2016, Price: 60835
Vehicle: http://example.org/vehicle/Vehicle_2_4317, Brand: Ford, Model: Expedition, Year: 2016, Price: 64945
Vehicle: http://example.org/vehicle/Vehicle_2_4319, Brand: Ford, Model: Expedition, Year: 2016, Price: 63375
Vehicle: http://example.org/vehicle/Vehicle_2_4321, Brand: Ford, Model: Expedition, Year: 2016, Price: 60335